<h1>How much will it cost?</h1>


<p>The length is: <%=@parcel.length()%></p>
<p>The width is: <%=@parcel.width()%></p>
<p>The weight is: <%=@parcel.weight()%></p>

<%=@parcel.volume()%>
<h4>Cost is <%=@parcel.cost_to_ship()%></h4>
